<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-md-3 order-2 order-sm-1">
                <div class="header__social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 order-1 order-md-2 text-center">
                <a href="./index.html" class="site-logo">
                    <img src="img/logo.png" alt="" />
                </a>
            </div>
            <div class="col-sm-4 col-md-3 order-3 order-sm-3">
                <div class="header__switches">
                    <a href="#" class="search-switch"
                    ><i class="fa fa-search"></i
                    ></a>
                    <a href="#" class="nav-switch"
                    ><i class="fa fa-bars"></i
                    ></a>
                    <a href="#"><i class="fa fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
        <nav class="main__menu">
            <ul class="nav__menu">
                <li><a href="./index.html" class="menu--active">Home</a></li>
                <li><a href="./about.html">About</a></li>
                <li><a href="./gallery.html">Gallery</a></li>
                <li>
                    <a href="./blog.html">Blog</a>
                    <ul class="sub__menu">
                        <li><a href="./blog-single.html">Blog Single</a></li>
                    </ul>
                </li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

</html>