<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 css가 작성될 위치 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{css/styleEx08.css}">
    <style>
        div { font-size : 20px; }
    </style>
</th:block>

<!-- 각 페이지의 js가 작성될 위치 -->
<th:block layout:fragment="script">
    <script th:src="@{js/scriptEx08.js}"></script>
    <script th:inline="javascript">
        console.log('Ex08 페이지 콘솔 출력');
    </script>
</th:block>

    <div layout:fragment="content">
        두번째 본문입니다.
    </div>
</html>