<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header" class="header-top bg-grey justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
                <a class="navbar-brand " href="/">
                    <img src="images/logo.png" alt="" class="img-fluid">
                </a>
            </div>

            <div class="col-lg-8 col-md-12">
                <nav class="navbar navbar-expand-lg navigation-2 navigation">
                    <a class="navbar-brand text-uppercase d-lg-none" href="#">
                        <img src="images/logo.png" alt="" class="img-fluid">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                            aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="ti-menu"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul id="menu" class="menu navbar-nav mx-auto">
                            <li class="nav-item"><a href="/" class="nav-link">Blog Post</a></li>
                            <li class="nav-item"><a href="/" class="nav-link">About</a></li>
                            <li class="nav-item"><a href="/" class="nav-link">Contact</a></li>
                            <li class="nav-item dropdown" th:if="${session.name != null}">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Write
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                    <a class="dropdown-item" href="/write">포스트작성</a>
                                    <a class="dropdown-item" href="/list">포스트목록</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="list-inline mb-0 d-block d-lg-none">
                            <li class="list-inline-item">
                                <a th:if="${session.name == null}" href="/login" class="btn btn-dark" style="color:white;">Login</a>
                                <span th:unless="${session.name == null}">
                                    <a href="/" th:text="${session.name} + ' 님'"></a>
                                    <a href="/logout" class="btn btn-dark" style="color:white;">Logout</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <div class="header-socials-2 text-right d-none d-lg-block">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a th:if="${session.name == null}" href="/login" class="btn btn-dark" style="color:white;">Login</a>
                            <span th:unless="${session.name == null}">
                                    <a href="/" th:text="${session.name} + ' 님'"></a>
                                    <a href="/logout" class="btn btn-dark" style="color:white;">Logout</a>
                                </span>
                        </</a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

</html>