<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<main layout:fragment="content" class="main">
    <section class="hero__section">
        <div class="hero-slider">
            <div class="slide-item">
                <a
                        class="fresco"
                        href="img/hero-slider/1.jpg"
                        data-fresco-group="projects"
                >
                    <img src="img/hero-slider/1.jpg" alt="" />
                </a>
            </div>
            <div class="slide-item">
                <a
                        class="fresco"
                        href="img/hero-slider/2.jpg"
                        data-fresco-group="projects"
                >
                    <img src="img/hero-slider/2.jpg" alt="" />
                </a>
            </div>
            <div class="slide-item">
                <a
                        class="fresco"
                        href="img/hero-slider/3.jpg"
                        data-fresco-group="projects"
                >
                    <img src="img/hero-slider/3.jpg" alt="" />
                </a>
            </div>
            <div class="slide-item">
                <a
                        class="fresco"
                        href="img/hero-slider/4.jpg"
                        data-fresco-group="projects"
                >
                    <img src="img/hero-slider/4.jpg" alt="" />
                </a>
            </div>
            <div class="slide-item">
                <a
                        class="fresco"
                        href="img/hero-slider/5.jpg"
                        data-fresco-group="projects"
                >
                    <img src="img/hero-slider/5.jpg" alt="" />
                </a>
            </div>
            <div class="slide-item">
                <a
                        class="fresco"
                        href="img/hero-slider/6.jpg"
                        data-fresco-group="projects"
                >
                    <img src="img/hero-slider/6.jpg" alt="" />
                </a>
            </div>
            <div class="slide-item">
                <a
                        class="fresco"
                        href="img/hero-slider/7.jpg"
                        data-fresco-group="projects"
                >
                    <img src="img/hero-slider/7.jpg" alt="" />
                </a>
            </div>
        </div>
        <div class="hero-text-slider">
            <div class="text-item">
                <h2>Nature</h2>
                <p>Photography</p>
            </div>
            <div class="text-item">
                <h2>Red Heartbeat</h2>
                <p>Photography</p>
            </div>
            <div class="text-item">
                <h2>Blue Dreem</h2>
                <p>Photography</p>
            </div>
            <div class="text-item">
                <h2>Christian Church</h2>
                <p>Photography</p>
            </div>
            <div class="text-item">
                <h2>Red Darkness</h2>
                <p>Photography</p>
            </div>
            <div class="text-item">
                <h2>Beauty with Brain</h2>
                <p>Photography</p>
            </div>
            <div class="text-item">
                <h2>Remarkable</h2>
                <p>Photography</p>
            </div>
        </div>
    </section>
</main>

</html>